

.ProjectTitle{
    margin-bottom: 15px;
}
.projectSection{
    width:100%;
}
.projectCardWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height:500px;
}


.projectCard{
    height:360px;
    width: 640px;
    display: flex;
    justify-content: center;
    padding-left: 240px;
    
}
.projectCardRight{
    padding-left: 0px;
    padding-right: 240px;
}
.imgWrapper{
    background-color: var(--main-accent-color);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.imgWrapper:hover{
    -webkit-transform: scale(1.04);
-moz-transform: scale(1.04);
-o-transform: scale(1.04);
-ms-transform: scale(1.04);
transform: scale(1.04);
}
.projectImg{
    filter: grayscale(100%);
    opacity: 10%;
    overflow: hidden;
    
    
}

.ProjectInfo{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: right;
    min-width:640px;
    height:180px;
    top:25px;
    right:240px;
   
}

.ProjectInfoRight{
    right:0px;
    left:240px;
    text-align: left;
}
.projectName{
    font-size: 50px;
    font-weight: 600;
    margin: 5px 0px 5px 0px;
    width:100%;
    font-style: italic;
}
.projectBio{
    font-size: 20px;
    color: var(--main-text-color);
    background-color: var(--second-bg-color);
    padding:18px;
    margin:5px 0px 5px 0px;
    font-weight: 300;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.techStack{
    font-size: 20px;
    word-spacing: .75rem;
    color:var(--main-accent-color);
    width:400px;
    transform: scale(1, .9);
    margin: 5px 0px 5px auto;
}
.techStackRight{
    margin-left: 0;
}
.projectNameWrapper{
    width:100%;
}

.underPrj {
    font-size: 20px;
}
.underPrjRight{
    margin-left: 0px;
    margin-right: 20px;
}
.projectButtonWrapper{
    margin: 5px 0px 5px 0px;
}

@media only screen and (max-width: 1125px) {
    .projectCard{
        padding-left:0px;
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }
    .projectCard:hover{
        -webkit-transform: scale(1.04);
        -moz-transform: scale(1.04);
        -o-transform: scale(1.04);
        -ms-transform: scale(1.04);
        transform: scale(1.04);
    }
    .projectCardWrapper{
        height:400px;
        max-width:100%;
    }
    .projectCardRight{
        padding-right: 0px;
    }
    .ProjectInfo{
        right:0;
        padding: 8px;
        text-align:left;
        z-index: 1;
        color:var(--main-bg-color);
        
    }
    .ProjectInfoRight{
        left:0;
    }
    .projectBio{
       background-color:transparent;
       box-shadow: none;
       font-weight: 500;
       padding:8px;
       color:var(--main-bg-color)
    }
    .imgWrapper{
        justify-content: center;
        position: absolute;
        max-width: fit-content;
    }
    .imgWrapper{
        background-color: var(--main-accent-color);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        -moz-transition: none;
        -webkit-transition: none;
        transition:none;
    }
    
    .imgWrapper:hover{
        -webkit-transform: scale(1.00);
    -moz-transform: scale(1.00);
    -o-transform: scale(1.00);
    -ms-transform: scale(1.00);
    transform: scale(1.00);
    }
    .techStack{
        color:var(--main-text-color);
        margin-left:0px;
        width:640px;
    }
    .underPrj{
        color:var(--second-main-color);
        font-weight: 600;
        border-bottom: 3px solid var(--main-bg-color);
    }
    .underPrj:before {
        background-color: var(--main-bg-color);
      }
      
      .underPrj:hover{
        color: var(--main-text-color);
      }
    .projectButtonWrapper{
        position: relative;
        display: flex;
        justify-content: flex-end;
    }
    .underPrj{
        margin-right: 0;
        margin-left: 20px;
    }
@media only screen and (max-width: 675px) {
       .projectCard{
        transform: scale(.7);
       }
 
    .projectCard:hover{
        -webkit-transform: scale(.75);
        -moz-transform: scale(.75);
        -o-transform: scale(.75);
        -ms-transform: scale(.75);
        transform: scale(.75);
    }
       .projectCardWrapper{
        height:300px;
       }
    }   
}

@media only screen and (max-width: 450px){
    .projectCard{
        transform: scale(.50);
        
    }
    .projectCard:hover{
        -webkit-transform: scale(.55);
        -moz-transform: scale(.55);
        -o-transform: scale(.55);
        -ms-transform: scale(.55);
        transform: scale(.55);
    }
    .projectCardWrapper{
        height: 300px;
        display: flex;
        align-items: center;
        margin-bottom: 50px;
    }

    .ProjectInfo{
        justify-content: space-between; 
        height: 500px;
        padding:30px
    }
    .projectBio{
        font-size: 30px;

    }
    .projectImg{
        object-fit: cover;
        height:600px;
    }
    .imgWrapper{
        min-height:600px;
        overflow: hidden;
    }
    .techStack{
        width:fit-content;
        font-size: 30px;
    }
    .underPrj{
        font-size: 30px;
    }

    @media only screen and (max-width: 374px){
        .projectCard{
            transform: scale(.45);
        }
        .projectCardWrapper{
            height:240px;
        }
    }
   
}