.Projects {
    align-items: start;
}
.projectCard{
    background-color: var(--second-text-color);
    width:60%;
    height:300px;
    margin-top:30px;
    box-shadow: 8px 8px 0 1px var(--main-accent-color);
    
}

.projectCard:nth-child(odd) {
    box-shadow: -8px 8px 0 1px var(--main-accent-color);
    margin-left:auto;
}
.projectCard:nth-child(4) {
    margin-bottom: 75px;
}
.projectTitle{
    margin: 50px;
}