.About{ 
    background-color: var(--second-bg-color);
   
}
.aboutWrapper{
    display: flex;
    width:40%;
}

.aboutBtnWrapper{
    display: flex;
    justify-content: flex-end;
    width:50%;
}
.title {
  --i: 20px;
  width: fit-content;
  box-shadow: 0 -30px var(--main-accent-color) inset;
  text-indent: calc(-1*var(--i));
  padding-right: var(--i);
  margin-left: var(--i);
  text-align: center;

}
.paragraphWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.underBtnPrj{
    align-items: flex-end;

}
.aboutParagraph {
    font-size: 25px;
    font-weight:300;
    text-align: start;
    text-indent: 1em;
    width:50%;
}
.photo {
    justify-content: center;
    font-size: 150px;
}
.skillBox {
    background-color: var(--main-accent-color);
    box-shadow: 8px 8px 0 0px var(--second-bg-color), 16px 16px 0 0px var(--main-accent-color), rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width:300px;
    margin:20px;
    height:300px;
}

.skillList {
    list-style: none;
    padding: 25px 50px 25px 50px;
}
.skillName {
    font-size: 45px;
    color: var(--main-text-color);
    font-style: italic;
}
.skillList > li {
    font-size: 30px;
    font-weight:600;
    color: var(--main-bg-color);
    text-align: start;
}

.Backend {
    margin-top:75px;
}
.Concepts{
    margin-top:150px;
}
.skillSection {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nameWrapper{
    width:100%;
}
.aboutArrow {
    font-size: 50px;
    position: absolute;
    bottom: -95%;
    cursor:pointer;
    z-index: 1;
    left:46%;
}
.aboutTitle{
    margin-top: 50px;
}

.aboutArrow:hover {
    color: var(--main-accent-color);
  }
  .slant {
    position: relative;
    bottom: -100%;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.slant svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 83px;
}

.slant .shape-fill {
    fill: #222426;
}

.photoWrapper{
    --i: 40px;
    width: fit-content;
    box-shadow: 0 -300px var(--main-accent-color) inset;
    text-indent: calc(-1*var(--i));
    padding-right: var(--i);
    margin-left: var(--i);
    margin-bottom: 50px;
    margin-top:50px;
}

@media only screen and (max-width: 1050px) {
    .aboutParagraph{
        width:90%;
    }
    
    .Backend {
        margin-top:20px;
    }
    .Concepts{
        margin-top:20px;
    }
    .aboutBtnWrapper{
        justify-content: center;
        margin-bottom: 50px;
    }
  }