.About {
    
}
.title {
    font-style: italic;
}
.photo {
    justify-content: center;
    font-size: 150px;
}
.skillBox {
    border: 3px black solid;
    background-color: lightgray;
    border-radius: 15px;
    width:200px;
    margin:15px;
}

.skillList {
    list-style: none;
    padding:0px;
}

.skillSection {
    display:flex;
    justify-content: center;
}

.aboutArrow {
    font-size: 50px;
    position: absolute;
    bottom: -95%;
    cursor:pointer;
}

.aboutArrow:hover {
    color: var(--main-accent-color);
  }