
.Home {
  justify-content: center;
  align-items: center;
  padding-top: 275px;
  height:75vh;
  display: flex;
}

.homeWrapper {
  display: flex;
  flex-wrap: wrap;
}
.githubHome:hover, .linkedinHome:hover{
  color:var(--main-accent-color)
}

.name {
  font-size: 5.5rem;
  text-align: right;
}
.subTitle {
  font-size:5.5rem;
  color: var(--main-accent-color);
  text-align: right;
}
.aboutButton{
  padding: 18px;
}
.homeButtons {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding-top: 25px;
}
.curve {
  position: absolute;
  height: 225px;
  width: 100px;
  bottom: 0;
}
@media only screen and (max-width: 1375px){

  .name {
    font-size: 6vh;
    text-align: right;
  }
  .subTitle {
    font-size:6vh;
    color: var(--main-accent-color);
    text-align: right;
  }
}
@media only screen and (max-width: 950px) {
  .underBtn{
    margin-left: 5px;
    margin-right:5px;
    font-size: 25px;
  }
  .Home{
    padding-right:0%;
  }
  .name{
    text-align: center;
    font-size:4rem;
  }
  .subTitle{
    text-align: center;
    font-size:4rem;
  }
  .homeButtons{
    justify-content: center;
    
  }
}

@media only screen and (max-width: 785px) {
  .Home{
    height:100%;
    padding-top:75px;
  }
  .homeWrapper {
    flex-direction: column;
  }
  .photoWrapper {
    margin-top:20px !important;
  }
}