
.Home {
  justify-content: center;
  align-items: center;
  margin:0;
  padding-right:41%;
}

.githubHome {
    font-size: 65px;
    margin-left: 10px;
}

.linkedinHome {
    font-size:65px;
    margin-left: 10px;
}

.githubHome:hover, .linkedinHome:hover{
  color:var(--main-accent-color)
}
.name {
  font-size: 6vh;
  text-align: end;
}
.subTitle {
  font-size:7vh;
  color: var(--main-accent-color);
  font-style: italic;
  text-align: end;
}
.aboutButton{
  padding: 0px;
}
.homeButtons {
  display: flex;
  justify-content: end;
  padding-top: 25px;
}
.curve {
  position: absolute;
  height: 225px;
  width: 100px;
  bottom: 0;
}
