.Contact{
    background-color: var(--second-bg-color);
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.upArrow {
    font-size: 50px;
   
}

.contactInput {
    width:50%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    
}
.form-control{
    background-color:var(--main-bg-color) !important;
    border-radius: 0px;
    border: 1px solid var(--main-bg-color) !important;
    
}



.btn {
    width:100px;
    
}

.btnWrapper {
    display: flex;
    justify-content: right;
}

.line {
    width:50%;
    border-top: 3px solid var(--main-bg-color);
    margin-top: 50px;
}

.contactBtn {
    padding:30px;
}
.sendMessage{
    padding-bottom: 20px;
    text-align: start;
    font-weight:200;
    font-style: italic;
}
.upArrowWrapper{
    background-color: var(--main-accent-color);
    width:50px;
    cursor:pointer;
    z-index: 1;
    position: relative;
    top:-55px;
    
    
 
}
.formWrapper {
    display: flex;
    justify-content: center;
}

.title {
    margin-left:auto;
    margin-right:auto;
    padding-top:20px;
}

@media only screen and (max-width: 759px) {
    .Contact{
        height: 100%;
    }
    .contactInput{
        padding-bottom: 50px;
    }
    .title{
        font-size: 70px;
    }
  }