.upArrow {
    font-size: 50px;
    position: absolute;
    bottom: -295%;
    cursor:pointer;
}

.contactInput {
    width:50%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    
}

.btn {
    width:100px;
    justify-content: right;
}