.Contact{
    background-color: var(--second-bg-color);
    height: 100vh;
}

.upArrow {
    font-size: 50px;
   
}
.upArrow:hover {
    color: var(--main-bg-color);
  }
.contactInput {
    width:50%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    
}

.btn {
    width:100px;
    
}

.btnWrapper {
    display: flex;
    justify-content: right;
}

.line {
    width:50%;
    border-top: 3px solid darkgray;
    margin-top: 50px;
}

.contactBtn {
    padding:30px;
}
.sendMessage{
    padding-bottom: 20px;
    
}
.upArrowWrapper{
    background-color: var(--main-accent-color);
    position: relative;
    bottom: -100%;
    cursor:pointer;
    z-index: 1;
    left:46%;
}