.nav {
    position:fixed;
    width:100%;
    -webkit-backdrop-filter: blur(11px);
    backdrop-filter: blur(11px);
    height:75px;
    font-size: 25px;
    font-style: italic;
    color: var(--main-text-color);
    z-index: 2;
    
}

.nav-bar{
    
    margin-left:auto;
}
.nav-links{
    margin-left:auto;
}
.nav-link {
    color: var(--main-text-color);
}
.nav-link:hover{
    color: var(--main-text-color);
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color:var(--main-accent-color);
    text-decoration-thickness: 5px;
}
.nav-link.active{
    color: var(--main-text-color) !important;
    text-decoration: underline;
    text-decoration-color:var(--main-accent-color);
    text-decoration-thickness: 5px;
}

