.nav {
    position:fixed;
    width:100%;
    -webkit-backdrop-filter: blur(11px);
    backdrop-filter: blur(11px);
    height:85px;
    font-size: 40px;
    font-style: italic;
    color: var(--main-text-color);
    z-index: 2;
    display: flex;
    text-align: center;
}

.nav-bar{
    text-align: center;
    margin-left:auto;
    margin-right:50px;
    
}
.nav-links{
    margin-left:auto;
    
}
.nav-link {
    color: var(--main-text-color);
    line-height: 40px;
    background-image: linear-gradient(var(--main-accent-color),var(--main-accent-color));
    background-size: 0 5px, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all .5s ease-out;
    align-items: flex-end;
}
.nav-link:hover{
    color: var(--main-text-color);
    cursor: pointer;
}
.nav-link.active{
    color: var(--main-text-color) !important;
    background-size: 90% 5px, auto;
}

@keyframes line {
    from {
      left:50%;
      width:0%;
    }
    to {
      left:5%;
      width:90%;
    }
  }

@media screen and (max-width:786px){
    .nav{
        height:65px;
        font-size: 25px;
        
    }
    .nav-bar{
      padding:0px;
    }
    .nav-links{
        margin-left:auto;
        margin-right: auto;
    }
    .nav-link{
        line-height: 25px;

    }
}