.Footer {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}

.footerText{
    font-weight: 300;
    font-size: 25px;
    width:100%;
    line-height: 20px;
    color:var(--second-text-color);
}

.footerBtn{
   margin-bottom:4px;
   margin-right:4px;
}
.footerText > a {
    text-decoration: none;
}
.footerText > a:hover{
    color:var(--main-text-color);
}
.circleFooter{
    font-size: 5px;
}

