.Footer {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}

.footerText{
    font-weight: 300;
    font-size: 18px;
    width:100%;
    color:var(--second-text-color);
    font-weight: 400;
    
}
.upArrowWrapper{
    background-color: var(--main-accent-color);
    width:50px;
    cursor:pointer;
    z-index: 1;
    position: absolute;
    margin-bottom: 150px;
    
}
.footerBtn{
   margin-bottom:4px;
   margin-right:4px;
}
.footerText > a {
    text-decoration: none;
}
.footerText > a:hover{
    color:var(--main-text-color);
}
.circleFooter{
    font-size: 5px;
}

