:root{
  --main-bg-color: #222426;
  --second-bg-color: #1A1A1B;
  --main-text-color: #EDF2F4;
  --second-text-color: #525252;
  --main-accent-color: #CA3E47;
  --second-accent-color: #D80032;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Oswald', sans-serif;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
  overflow-y: scroll; 
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
 
}

body::-webkit-scrollbar {
  display: none; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5 {
  margin:0px;
  padding:0px;
}


h2 {
  font-size: 75px;

}

.downArrow {
  font-size: 45px;
  position: absolute;
  bottom:50px;
  cursor:pointer;
  z-index: 1;
  ;
  
}
.downArrow:hover {
  color: var(--main-accent-color);
}
.section{
  height:100vh;
  margin:0;
  padding:0;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.triangleLight {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  
  
}

.triangleLight svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
  
}

.triangleLight .shape-fill {
  fill: var(--second-bg-color);
  
}

.triangleDark {
  bottom:-100%;
}
.triangleDark .shape-fill {
  fill: var(--main-bg-color);
  
}

.triangleProjects {
  bottom: -200%;
}


