:root{
  --main-bg-color: #222426;
  --second-bg-color: #1A1A1B;
  --main-text-color: #EDF2F4;
  --second-text-color: #7f7f7f;
  --main-accent-color: #CA3E47;
  --second-accent-color: #D80032;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Oswald', sans-serif;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
  overflow-y: scroll; 
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
  overflow-x: hidden;
 
}

body::-webkit-scrollbar {
  display: none; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5 {
  margin:0px;
  padding:0px;
}


h2 {
  font-size: 75px;

}

.downArrow:hover {
  color: var(--main-accent-color);
}
.section{

  margin:0;
  padding:0;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.triangleLight {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  
  
}

.triangleLight svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
  
}

.triangleLight .shape-fill {
  fill: var(--second-bg-color);
  
}

.triangleDark {
  bottom:-100%;
}
.triangleDark .shape-fill {
  fill: var(--main-bg-color);
  
}

.triangleProjects {
  bottom: -200%;
}

.p5Canvas.vanta-cavas {
  left:-50% !important;
}

.form-control{
  background-color: var(--second-text-color);
  font-size: 25px;
  color:var(--main-text-color);
  font-weight: 300;
}
.form-control:focus{
  background-color:var(--second-text-color);
  color:var(--main-text-color);
  font-weight: 300;
  
}

.underBtn{
  font-size:30px;
  margin-left:20px;
  font-weight: 400;
  color:var(--second-text-color);
  position: relative;
  text-decoration: none;
  line-height: 32px;
  border-bottom: 3px solid var(--main-accent-color);
  padding: 0px 5px 0px 5px;
  cursor:pointer;
  z-index: 1;
  
}

.underBtn:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  background-color: var(--main-accent-color);
  z-index: -1;
  transition: all 0.4s ease-in-out;
}
.underBtn:hover:before {
  height: 100%;
}

.underBtn:hover{
  color: var(--main-text-color);
}