body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Oswald', sans-serif;
  background-color: #f4f4f4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5 {
  margin:0px;
  padding:0px;
}

h1 {
  font-size: 100px;
}

h2 {
  font-size: 75px;

}

.downArrow {
  font-size: 45px;
  position: absolute;
  bottom:50px;
}
.section{
  height:100vh;
  margin:0;
  padding:0;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


